<div class="container">
  <div class="d-grid gap-2">
    <button type="button" (click)="restablecerBD()" class="btn btn-danger btn-block">Restablecer BBDD</button>
  </div>
  <div class="row">
    <div class="col-8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col" class="text-center">Titulo</th>
            <th scope="col" class="text-center">Año</th>
            <th scope="col" class="text-center">Géneros</th>
            <th scope="col" class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of peliculas">
            <th scope="row" class="text-center">{{ p.id }}</th>
            <td>{{ p.titulo }}</td>
            <td class="text-center">{{ p.anio }}</td>
            <td class="text-center">
              <span class="badge bg-primary me-1" *ngFor="let g of p.generos">{{ g }}</span>
            </td>
            <td class="text-center text-nowrap">
              <button type="button" (click)="editar(p)" class="btn btn-sm btn-primary me-1">Editar</button>
              <button type="button" (click)="borrar(p)" class="btn btn-sm btn-success">Borrar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <form [formGroup]="miFormulario">
        <div class="mb-3">
          <label for="titulo" class="form-label">Título</label>
          <input type="text" class="form-control" formControlName="titulo" required>
        </div>
        <div class="mb-3">
          <label for="anio" class="form-label">Año</label>
          <input type="number" class="form-control" formControlName="anio" required>
        </div>
        <div class="mb-3">
          <label for="generos" class="form-label">Géneros</label>
          <select class="form-select" multiple size="{{ generos?.length || 1 }}" formControlName="generos">
            <option *ngFor="let g of generos" [ngValue]="g.id">{{ g.descripcion }}</option>
          </select>
        </div>
        <button type="button" (click)="guardar()" [disabled]="miFormulario.invalid" class="btn btn-outline-primary me-1">Guardar</button>
        <button type="reset" (click)="descartar()" class="btn btn-outline-secondary">Descartar</button>
      </form>
    </div>
  </div>
</div>


